{% form_theme formItem 'bootstrap_4_horizontal_layout.html.twig' %}

{{ form_start(formItem) }}
{{ form_widget(formItem) }}


<div class="row">
    <div class="col text-right">
        <button type="submit" class="btn btn-primary" value="Inserir">
            <i class="fas fa-save" aria-hidden="true"></i> Inserir
        </button>

        <div class="btn-group" role="group">
            <button id="btnModalOpcoesRelatorios" type="button" class="btn btn-secondary"
                    data-target="#opcoesRelatoriosModal" data-toggle="modal" role="button">
                <i class="fas fa-print" aria-hidden="true"></i> Relatórios
            </button>
        </div>

    </div>
</div>
<div class="row">&nbsp;</div>


    <table class="table table-sm table-striped table-hover table-bordered" id="header-fixed">

        {% set gradeId = 0 %}
        {% for item in e.itens %}

        {% if gradeId != item.fichaTecnica.gradeId %}
            {% set gradeId = item.fichaTecnica.gradeId %}
            <thead>
            <tr>
                <th scope="col"><input type="checkbox" id="selTodosLoteItens" title="Selecionar todos" checked/></th>
                <th scope="col">Id</th>
                <th scope="col">Descrição</th>
                {% for i in 1..15 %}
                    <th scope="col" class="text-center">{{ item.fichaTecnica.gradesTamanhosByPosicaoArray[i] }}</th>
                {% endfor %}
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
        {% endif %}

        <tr>
            <td>
                <input type="checkbox" value="{{ item.id }}" id="loteItem[]" title="Selecionar" checked>
            </td>
            <td>{{ item.id }}</td>
            <td>
                <a href="{{ url('fichaTecnica_builder', {'id': item.fichaTecnica.id}) }}"
                   target="_blank">{{ item.fichaTecnica.descricao }}</a>
                {{ item.obs != '' ? (('<br /><i style="font-size:smaller">'|raw) ~ item.obs ~ ("</i>"|raw))|raw : '' }}
            </td>
            {% for i in 1..15 %}
                <td class="text-center">{{ item.qtdesTamanhosArray[i] }}</td>
            {% endfor %}
            <td class="text-right">{{ item.totalQtdes }}</td>
            <td class="text-center">

                <a class="btn btn-primary btn-sm"
                   href="{{ url('loteProducaoItem_form', {'loteProducaoItem': item.id}) }}"
                   role="button">
                    <i class="fas fa-wrench" aria-hidden="true"></i></a>

                <button type="button" class="btn btn-danger btn-sm"
                        data-url="{{ url('loteProducao_deleteItem', {'loteProducaoItem': item.id}) }}"
                        data-token="{{ csrf_token('loteProducao_deleteItem') }}" data-target="#confirmationModal"
                        data-toggle="modal">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
        <tr style="background-color: lightgrey">
            <th scope="row" colspan="17" class="text-right">
                Total:
            </th>
            <td class="text-right"></td>
            <td class="text-right"></td>
        </tr>


    </table>


{{ form_end(formItem) }}

<form action="{{ url('loteProducao_relatorio', {'loteProducao' : e.id}) }}" method="get" target="_blank">
    <div class="modal fade" id="opcoesRelatoriosModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">


                <div class="modal-body">

                    <!-- Preenchido no click do btnModalOpcoesRelatorios -->
                    <input type="hidden" name="loteItens" id="loteItens"/>

                    <div class="form-group">
                        <select class="autoSelect2" id="tipoRelatorio" name="tipoRelatorio">
                            <option value="Relatório de Corte">Relatório de Corte</option>
                            <option value="Relatório de Insumos">Relatório de Insumos</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <fieldset class="form-group pre-scrollable" style="height: 150px">
                            <legend>Tipos de Insumos</legend>
                            {% for tipoInsumo in tiposInsumos %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ tipoInsumo.id }}" checked
                                           name="tiposInsumos[]"/>
                                    <label class="form-check-label">
                                        {{ tipoInsumo.descricao }}
                                    </label>
                                </div>
                            {% endfor %}
                        </fieldset>
                    </div>

                    <div class="form-group">


                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tipoImpressao"
                                   id="inlineRadio1"
                                   value="PDF"/>
                            <label class="form-check-label" for="inlineRadio1">PDF</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tipoImpressao"
                                   id="inlineRadio2"
                                   value="HTML" checked/>
                            <label class="form-check-label" for="inlineRadio2">HTML</label>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnConfirmationModalNo" data-dismiss="modal">
                        <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                    </button>
                    <button type="submit" class="btn btn-danger" name="btnGerarRelatorio" id="btnGerarRelatorio">
                        <i class="fa fa-print" aria-hidden="true"></i> OK
                    </button>
                </div>


            </div>
        </div>
    </div>
</form>







