<!DOCTYPE html>
<html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <style>

        body {
            font-family: 'Ubuntu', sans-serif;
        }

    </style>
    <style>
        /**
            Set the margins of the page to 0, so the footer and the header
            can be of the full height and width !
         **/
        @page {
            margin: 0cm 0cm;
        }

        /** Define now the real margins of every page in the PDF **/
        body {
            margin: 3.5cm 1cm 1.5cm 1cm;
            max-width: 21cm;
            font-size: small;
        }

        /** Define the header rules **/
        header {
            position: fixed;
            max-width: 21cm;
            top: 1cm;
            left: 1cm;
            right: 1cm;
            height: 3cm;
        }

        /** Define the footer rules **/
        footer {
            position: fixed;
            bottom: 0cm;
            left: 0cm;
            right: 0cm;
            height: 2cm;
        }

        thead:before, thead:after {
            display: none;
        }

        tbody:before, tbody:after {
            display: none;
        }

        table {
            width: 100%;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }

        tr {
            font-size: smaller;
        }
    </style>
</head>
<body>


<header>
    <table>
        <tbody>
        <tr>
            <td style="vertical-align: top"><img src="https://www.casabonsucesso.com.br/img/LOGO_COMPLETO_300px.png"
                                                 width="200px"/></td>
            <td style="text-align: right;">
                <span style="font-size: x-large; font-weight: bolder">Lote de Produção</span><br/>
                <span style="font-size: small;">{{ dados.loteProducao.codigo }} - {{ dados.loteProducao.descricao }}</span><br/>
                <span style="font-size: x-small;">{{ dados.loteProducao.dtLote|date('d/m/Y') }}</span>
            </td>
        </tr>
        </tbody>
    </table>
</header>


<!-- Wrap the content of your PDF inside a main tag -->
<main>

    <hr/>


    <table class="table table-sm table-striped">

        <tr>
            <th style="text-align: right">Qtde de Itens no Lote:</th>
            {% for tamanho in dados.tamanhos %}
                <th style="text-align: center;">{{ dados.totalItensPorTamanho[tamanho.tamanho] }}</th>
            {% endfor %}
            <th style="background-color: gray; text-align: center;">{{ dados.totalItensGeral }}</th>
        </tr>

        {% for item in dados.itens %}

            <tbody>

            <tr>
                <th colspan="{{ dados.tamanhos|length + 2 }}" style="background-color: darkblue; color: white; text-align: center; font-size: medium; padding: 8px">
                    {{ item.item.descricao }}
                </th>
            </tr>
            <tr>
                <th></th>
                {% for tamanho in dados.tamanhos %}
                    <th style="text-align: center;">{{ tamanho.tamanho }}</th>
                {% endfor %}
                <th>Total</th>
            </tr>
            <tr>
                <th style="text-align: right">Qtde de Itens:</th>
                {% for tamanho in dados.tamanhos %}
                    <th style="text-align: center;">{{ item.totalItensLoteItemPorTamanho[tamanho.tamanho] }}</th>
                {% endfor %}
                <th style="background-color: gray; text-align: center;">{{ item.totalItensLoteItem }}</th>
            </tr>

            {% for tipoInsumo, insumos in item.tiposInsumos %}
                <tr>
                    <th colspan="{{ dados.tamanhos|length + 2 }}" style="background-color: darkgray">
                        {{ tipoInsumo }}
                    </th>
                </tr>

                {% for insumo in insumos %}
                    <tr>
                        <td>{{ insumo.insumo.descricao }}</td>
                        {% for tamanho in dados.tamanhos %}
                            <td style="text-align: center;">
                                {% if insumo.totaisPorTamanho[tamanho.tamanho]|default(0) > 0 %}
                                    {{ insumo.totaisPorTamanho[tamanho.tamanho]|default(0)|number_format(insumo.insumo.casas_decimais,',','.') }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td style="text-align: right;">
                            {{ insumo.totalInsumo|default(0)|number_format(insumo.insumo.casas_decimais,',','.') }}
                        </td>
                    </tr>
                {% endfor %}

            {% endfor %}

            <tr><td colspan="{{ dados.tamanhos|length + 2 }}">&nbsp;</td></tr>

            </tbody>

        {% endfor %}


    </table>


</main>
</body>
</html>





